<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StandardDailyHours"     value="8" />
    <add key="OvertimeMultiplier"     value="1.5" />
    <add key="MaintenanceWarningDays" value="7" />
    <add key="LowStockWarningBuffer"  value="1.5" />
  </appSettings>
</configuration>
